<div class="alert alert-success alert-sm" *ngIf="showDownloadSpinner" role="alert">
    <div class="alert-items">
        <div class="alert-item static">
      <span class="alert-text">
          Thank you sir, uploading release artifacts...
          <clr-spinner [clrSmall]="true"></clr-spinner>
      </span>
        </div>
    </div>
</div>
<form clrForm>
    <clr-input-container>
        <label>Upload release file</label>
        <input clrInput type="file" name="file" accept=".zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed" [(ngModel)]="input"  (change)="fileSelected($event)"/>
    </clr-input-container>
</form>
<button class="btn" (click)="createPR()" [disabled]="!input">Create pull request</button>
